[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[user]
  name = kimromi
  id = kimromi
  email = kimromi4@gmail.com
[ghq]
  root = ~/repos
  root = ~/.go/src
[push]
  default = current
[github]
  user = kimromi
[hub]
  host = git.pepabo.com
  host = github.com
[includeIf "gitdir:~/repos/git.pepabo.com/"]
  path = ~/.gitconfig-pepabo
[alias]
  see = browse
[color]
  diff = auto
  status = auto
  branch = auto
