[core]
  excludesfile = /Users/kimura.hiromi/.gitignore
  editor = vim
  ignorecase = false
[user]
	name = Hiromi Kimura
  id = kimromi
  email = kimromi4@gmail.com
[ghq]
  root = ~/repos
[push]
  default = current
[github]
  user = kimromi
[hub]
  host = github.com
[alias]
  see = browse
[color]
  diff = auto
  status = auto
  branch = auto
[init]
  defaultBranch = main
[pull]
  ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
